<a href="https://colab.research.google.com/github/mazarimono/python-data-seminar/blob/main/Chapter5_2_%E7%B5%B1%E8%A8%88%E3%83%87%E3%83%BC%E3%82%BF%E3%81%AE%E5%89%8D%E5%87%A6%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from collections import Counter

import pandas as pd
from pathlib import Path
import plotly.express as px

In [2]:
# 表示行列数の初期値の確認

display_rows = pd.options.display.max_rows
display_columns = pd.options.display.max_columns

print(f'''
    最大行数: {display_rows}
    最大列数: {display_columns}''')

    最大行数: 60
    最大列数: 20

In [3]:
pd.options.display.max_columns=70 # 最大列数を70に設定
print(pd.options.display.max_columns) # 最大列数の確認

70

In [4]:
toukei_zip_path = Path('/content/drive/MyDrive/od-book/国勢調査/tblT001082C27.zip')
df = pd.read_csv(toukei_zip_path, encoding='cp932', header=[0, 1])
df.head(10)

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T001082001,T001082002,T001082003,T001082004,T001082005,T001082006,T001082007,T001082008,T001082009,T001082010,T001082011,T001082012,T001082013,T001082014,T001082015,T001082016,T001082017,T001082018,T001082019,T001082020,T001082021,T001082022,T001082023,T001082024,T001082025,T001082026,T001082027,T001082028,T001082029,T001082030,T001082031,T001082032,T001082033,T001082034,T001082035,T001082036,T001082037,T001082038,T001082039,T001082040,T001082041,T001082042,T001082043,T001082044,T001082045,T001082046,T001082047,T001082048,T001082049,T001082050,T001082051,T001082052,T001082053,T001082054,T001082055,T001082056,T001082057,T001082058,T001082059,T001082060
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数、年齢「不詳」含む,総数０～４歳,総数５～９歳,総数１０～１４歳,総数１５～１９歳,総数２０～２４歳,総数２５～２９歳,総数３０～３４歳,総数３５～３９歳,総数４０～４４歳,総数４５～４９歳,総数５０～５４歳,総数５５～５９歳,総数６０～６４歳,総数６５～６９歳,総数７０～７４歳,総数１５歳未満,総数１５～６４歳,総数６５歳以上,総数７５歳以上,男の総数、年齢「不詳」含む,男０～４歳,男５～９歳,男１０～１４歳,男１５～１９歳,男２０～２４歳,男２５～２９歳,男３０～３４歳,男３５～３９歳,男４０～４４歳,男４５～４９歳,男５０～５４歳,男５５～５９歳,男６０～６４歳,男６５～６９歳,男７０～７４歳,男１５歳未満,男１５～６４歳,男６５歳以上,男７５歳以上,女の総数、年齢「不詳」含む,女０～４歳,女５～９歳,女１０～１４歳,女１５～１９歳,女２０～２４歳,女２５～２９歳,女３０～３４歳,女３５～３９歳,女４０～４４歳,女４５～４９歳,女５０～５４歳,女５５～５９歳,女６０～６４歳,女６５～６９歳,女７０～７４歳,女１５歳未満,女１５～６４歳,女６５歳以上,女７５歳以上
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,107904,3785,4069,4001,3872,5582,6775,6923,7233,7687,8460,7309,6378,5737,6143,6660,11855,65956,25393,12590,51763,1937,2129,2046,1994,2676,3264,3364,3559,3833,4222,3666,3135,2725,3024,3247,6112,32438,10972,4701,56141,1848,1940,1955,1878,2906,3511,3559,3674,3854,4238,3643,3243,3012,3119,3413,5743,33518,14421,7889
1,271020010,3,大阪市都島区,片町,0,NaN,NaN,2408,67,30,25,37,162,322,235,230,206,182,151,121,83,70,77,122,1729,233,86,1248,43,15,15,16,77,164,120,109,110,98,85,72,45,37,36,73,896,108,35,1160,24,15,10,21,85,158,115,121,96,84,66,49,38,33,41,49,833,125,51
2,27102001001,4,大阪市都島区,片町一丁目,0,NaN,NaN,1562,47,27,18,31,91,207,147,155,142,128,114,79,53,46,47,92,1147,143,50,807,31,13,10,13,49,107,76,70,73,69,65,45,26,24,23,54,593,69,22,755,16,14,8,18,42,100,71,85,69,59,49,34,27,22,24,38,554,74,28
3,27102001002,4,大阪市都島区,片町二丁目,0,NaN,NaN,846,20,3,7,6,71,115,88,75,64,54,37,42,30,24,30,30,582,90,36,441,12,2,5,3,28,57,44,39,37,29,20,27,19,13,13,19,303,39,13,405,8,1,2,3,43,58,44,36,27,25,17,15,11,11,17,11,279,51,23
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,1411,39,38,35,25,56,92,102,112,144,114,93,78,65,71,100,112,881,350,179,625,20,16,16,12,24,47,52,54,76,49,51,38,30,29,42,52,433,110,39,786,19,22,19,13,32,45,50,58,68,65,42,40,35,42,58,60,448,240,140
5,271020030,3,大阪市都島区,東野田町,0,NaN,NaN,5853,132,69,100,98,408,668,524,397,372,430,416,343,251,236,209,301,3907,957,512,3055,73,34,48,46,204,353,292,209,193,245,244,210,132,140,102,155,2128,448,206,2798,59,35,52,52,204,315,232,188,179,185,172,133,119,96,107,146,1779,509,306
6,27102003001,4,大阪市都島区,東野田町一丁目,0,NaN,NaN,2046,48,24,38,40,172,288,211,148,155,178,176,133,63,52,35,110,1564,157,70,1089,27,9,17,19,93,153,118,73,75,97,102,85,32,34,21,53,847,85,30,957,21,15,21,21,79,135,93,75,80,81,74,48,31,18,14,57,717,72,40
7,27102003002,4,大阪市都島区,東野田町二丁目,0,NaN,NaN,463,12,3,-,1,5,35,37,26,26,36,37,29,21,10,14,15,253,101,77,255,7,1,-,1,1,18,18,13,15,22,27,23,16,4,11,8,154,48,33,208,5,2,-,-,4,17,19,13,11,14,10,6,5,6,3,7,99,53,44
8,27102003003,4,大阪市都島区,東野田町三丁目,0,NaN,NaN,399,10,7,4,2,16,20,16,21,20,24,23,32,29,27,24,21,203,116,65,194,6,4,3,-,6,9,9,12,9,15,10,16,13,18,12,13,99,56,26,205,4,3,1,2,10,11,7,9,11,9,13,16,16,9,12,8,104,60,39
9,27102003004,4,大阪市都島区,東野田町四丁目,0,NaN,NaN,1365,31,18,24,29,95,123,114,95,79,74,78,69,72,72,48,73,828,251,131,701,15,11,12,13,52,67,64,52,45,44,37,38,38,42,15,38,450,112,55,664,16,7,12,16,43,56,50,43,34,30,41,31,34,30,33,35,378,139,76

In [5]:
df.tail(10)

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T001082001,T001082002,T001082003,T001082004,T001082005,T001082006,T001082007,T001082008,T001082009,T001082010,T001082011,T001082012,T001082013,T001082014,T001082015,T001082016,T001082017,T001082018,T001082019,T001082020,T001082021,T001082022,T001082023,T001082024,T001082025,T001082026,T001082027,T001082028,T001082029,T001082030,T001082031,T001082032,T001082033,T001082034,T001082035,T001082036,T001082037,T001082038,T001082039,T001082040,T001082041,T001082042,T001082043,T001082044,T001082045,T001082046,T001082047,T001082048,T001082049,T001082050,T001082051,T001082052,T001082053,T001082054,T001082055,T001082056,T001082057,T001082058,T001082059,T001082060
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,総数、年齢「不詳」含む,総数０～４歳,総数５～９歳,総数１０～１４歳,総数１５～１９歳,総数２０～２４歳,総数２５～２９歳,総数３０～３４歳,総数３５～３９歳,総数４０～４４歳,総数４５～４９歳,総数５０～５４歳,総数５５～５９歳,総数６０～６４歳,総数６５～６９歳,総数７０～７４歳,総数１５歳未満,総数１５～６４歳,総数６５歳以上,総数７５歳以上,男の総数、年齢「不詳」含む,男０～４歳,男５～９歳,男１０～１４歳,男１５～１９歳,男２０～２４歳,男２５～２９歳,男３０～３４歳,男３５～３９歳,男４０～４４歳,男４５～４９歳,男５０～５４歳,男５５～５９歳,男６０～６４歳,男６５～６９歳,男７０～７４歳,男１５歳未満,男１５～６４歳,男６５歳以上,男７５歳以上,女の総数、年齢「不詳」含む,女０～４歳,女５～９歳,女１０～１４歳,女１５～１９歳,女２０～２４歳,女２５～２９歳,女３０～３４歳,女３５～３９歳,女４０～４４歳,女４５～４９歳,女５０～５４歳,女５５～５９歳,女６０～６４歳,女６５～６９歳,女７０～７４歳,女１５歳未満,女１５～６４歳,女６５歳以上,女７５歳以上
10607,273830030,2,千早赤阪村,大字川野辺,0,NaN,NaN,104,4,3,5,3,3,2,2,8,4,7,8,6,6,8,11,12,49,43,24,48,1,1,2,2,3,1,1,5,2,2,4,3,3,4,4,4,26,18,10,56,3,2,3,1,-,1,1,3,2,5,4,3,3,4,7,8,23,25,14
10608,273830040,2,千早赤阪村,大字二河原辺,0,NaN,NaN,107,5,-,1,6,7,3,6,3,4,5,7,8,10,18,6,6,59,42,18,51,3,-,1,3,1,1,4,2,3,3,3,2,6,9,2,4,28,19,8,56,2,-,-,3,6,2,2,1,1,2,4,6,4,9,4,2,31,23,10
10609,273830050,2,千早赤阪村,大字桐山,0,NaN,NaN,143,3,2,3,1,11,10,6,3,5,8,10,14,15,7,14,8,83,52,31,66,1,2,3,-,3,8,3,1,2,3,6,5,10,4,8,6,41,19,7,77,2,-,-,1,8,2,3,2,3,5,4,9,5,3,6,2,42,33,24
10610,273830060,2,千早赤阪村,大字吉年,0,NaN,NaN,109,-,3,5,3,5,2,2,5,8,3,3,8,11,11,14,8,50,51,26,50,-,2,3,2,-,2,2,2,4,1,2,1,4,6,6,5,20,25,13,59,-,1,2,1,5,-,-,3,4,2,1,7,7,5,8,3,30,26,13
10611,273830070,3,千早赤阪村,大字小吹,0,NaN,NaN,2034,44,54,75,63,65,39,47,71,99,165,102,79,106,193,366,173,836,1024,465,957,18,27,37,28,38,21,21,33,50,86,51,37,46,76,161,82,411,464,227,1077,26,27,38,35,27,18,26,38,49,79,51,42,60,117,205,91,425,560,238
10612,27383007001,4,千早赤阪村,大字小吹,0,NaN,NaN,244,8,8,17,9,10,5,13,17,14,15,18,18,18,19,17,33,137,74,38,114,4,2,6,4,5,4,6,9,5,9,12,10,7,10,9,12,71,31,12,130,4,6,11,5,5,1,7,8,9,6,6,8,11,9,8,21,66,43,26
10613,27383007002,4,千早赤阪村,大字小吹,0,NaN,NaN,1790,36,46,58,54,55,34,34,54,85,150,84,61,88,174,349,140,699,950,427,843,14,25,31,24,33,17,15,24,45,77,39,27,39,66,152,70,340,433,215,947,22,21,27,30,22,17,19,30,40,73,45,34,49,108,197,70,359,517,212
10614,273830090,2,千早赤阪村,大字中津原,0,NaN,NaN,222,-,1,2,6,7,4,6,7,5,15,12,19,21,37,28,3,102,117,52,106,-,1,-,4,4,2,5,2,4,7,6,8,10,17,17,1,52,53,19,116,-,-,2,2,3,2,1,5,1,8,6,11,11,20,11,2,50,64,33
10615,273830100,2,千早赤阪村,大字東阪,0,NaN,NaN,423,4,13,14,10,13,13,10,3,14,21,32,19,29,30,34,31,164,227,163,181,2,7,9,6,3,7,1,2,4,10,12,10,16,13,17,18,71,92,62,242,2,6,5,4,10,6,9,1,10,11,20,9,13,17,17,13,93,135,101
10616,273830110,2,千早赤阪村,大字千早,0,NaN,NaN,211,4,4,4,1,8,4,10,7,4,14,13,13,18,14,28,12,92,107,65,98,2,2,2,-,1,3,4,3,2,9,8,4,9,9,15,6,43,49,25,113,2,2,2,1,7,1,6,4,2,5,5,9,9,5,13,6,49,58,40

In [6]:
df.shape

(10617, 67)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10617 entries, 0 to 10616
Data columns (total 67 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (KEY_CODE, Unnamed: 0_level_1)  10617 non-null  int64
 1   (HYOSYO, Unnamed: 1_level_1)    10617 non-null  int64
 2   (CITYNAME, Unnamed: 2_level_1)  10617 non-null  object
 3   (NAME, Unnamed: 3_level_1)      10541 non-null  object
 4   (HTKSYORI, Unnamed: 4_level_1)  10617 non-null  int64
 5   (HTKSAKI, Unnamed: 5_level_1)   192 non-null    float64
 6   (GASSAN, Unnamed: 6_level_1)    152 non-null    object
 7   (T001082001, 総数、年齢「不詳」含む)       10617 non-null  object
 8   (T001082002, 総数０～４歳)            10617 non-null  object
 9   (T001082003, 総数５～９歳)            10617 non-null  object
 10  (T001082004, 総数１０～１４歳)          10617 non-null  object
 11  (T001082005, 総数１５～１９歳)          10617 non-null  object
 12  (T001082006, 総数２０～２４歳)          10617 non-null  object
 13  (T001082007, 総数２５～２９歳)          10617 non-null  object
 14  (T001082008, 総数３０～３４歳)          10617 non-null  object
 15  (T001082009, 総数３５～３９歳)          10617 non-null  object
 16  (T001082010, 総数４０～４４歳)          10617 non-null  object
 17  (T001082011, 総数４５～４９歳)          10617 non-null  object
 18  (T001082012, 総数５０～５４歳)          10617 non-null  object
 19  (T001082013, 総数５５～５９歳)          10617 non-null  object
 20  (T001082014, 総数６０～６４歳)          10617 non-null  object
 21  (T001082015, 総数６５～６９歳)          10617 non-null  object
 22  (T001082016, 総数７０～７４歳)          10617 non-null  object
 23  (T001082017, 総数１５歳未満)           10617 non-null  object
 24  (T001082018, 総数１５～６４歳)          10617 non-null  object
 25  (T001082019, 総数６５歳以上)           10617 non-null  object
 26  (T001082020, 総数７５歳以上)           10617 non-null  object
 27  (T001082021, 男の総数、年齢「不詳」含む)     10617 non-null  object
 28  (T001082022, 男０～４歳)             10617 non-null  object
 29  (T001082023, 男５～９歳)             10617 non-null  object
 30  (T001082024, 男１０～１４歳)           10617 non-null  object
 31  (T001082025, 男１５～１９歳)           10617 non-null  object
 32  (T001082026, 男２０～２４歳)           10617 non-null  object
 33  (T001082027, 男２５～２９歳)           10617 non-null  object
 34  (T001082028, 男３０～３４歳)           10617 non-null  object
 35  (T001082029, 男３５～３９歳)           10617 non-null  object
 36  (T001082030, 男４０～４４歳)           10617 non-null  object
 37  (T001082031, 男４５～４９歳)           10617 non-null  object
 38  (T001082032, 男５０～５４歳)           10617 non-null  object
 39  (T001082033, 男５５～５９歳)           10617 non-null  object
 40  (T001082034, 男６０～６４歳)           10617 non-null  object
 41  (T001082035, 男６５～６９歳)           10617 non-null  object
 42  (T001082036, 男７０～７４歳)           10617 non-null  object
 43  (T001082037, 男１５歳未満)            10617 non-null  object
 44  (T001082038, 男１５～６４歳)           10617 non-null  object
 45  (T001082039, 男６５歳以上)            10617 non-null  object
 46  (T001082040, 男７５歳以上)            10617 non-null  object
 47  (T001082041, 女の総数、年齢「不詳」含む)     10617 non-null  object
 48  (T001082042, 女０～４歳)             10617 non-null  object
 49  (T001082043, 女５～９歳)             10617 non-null  object
 50  (T001082044, 女１０～１４歳)           10617 non-null  object
 51  (T001082045, 女１５～１９歳)           10617 non-null  object
 52  (T001082046, 女２０～２４歳)           10617 non-null  object
 53  (T001082047, 女２５～２９歳)           10617 non-null  object
 54  (T001082048, 女３０～３４歳)           10617 non-null  object
 55  (T001082049, 女３５～３９歳)           10617 non-null  object
 56  (T001082050, 女４０～４４歳)           10617 non-null  object
 57  (T001082051, 女４５～４９歳)           10617 non-null  object
 58  (T001082052, 女５０～５４歳)           10617 non-null  object
 59  (T001082053, 女５５～５９歳)           10617 non-null  object
 60  (T001082054, 女６０～６４歳)           10617 non-null  object
 61  (T001082055, 女６５～６９歳)           10617 non-null  object
 62  (T001082056, 女７０～７４歳)           10617 non-null  object
 63  (T001082057, 女１５歳未満)            10617 non-null  object
 64  (T001082058, 女１５～６４歳)           10617 non-null  object
 65  (T001082059, 女６５歳以上)            10617 non-null  object
 66  (T001082060, 女７５歳以上)            10617 non-null  object
dtypes: float64(1), int64(3), object(63)
memory usage: 5.4+ MB
None

In [8]:
df.columns

MultiIndex([(  'KEY_CODE', 'Unnamed: 0_level_1'),
            (    'HYOSYO', 'Unnamed: 1_level_1'),
            (  'CITYNAME', 'Unnamed: 2_level_1'),
            (      'NAME', 'Unnamed: 3_level_1'),
            (  'HTKSYORI', 'Unnamed: 4_level_1'),
            (   'HTKSAKI', 'Unnamed: 5_level_1'),
            (    'GASSAN', 'Unnamed: 6_level_1'),
            ('T001082001',        '総数、年齢「不詳」含む'),
            ('T001082002',             '総数０～４歳'),
            ('T001082003',             '総数５～９歳'),
            ('T001082004',           '総数１０～１４歳'),
            ('T001082005',           '総数１５～１９歳'),
            ('T001082006',           '総数２０～２４歳'),
            ('T001082007',           '総数２５～２９歳'),
            ('T001082008',           '総数３０～３４歳'),
            ('T001082009',           '総数３５～３９歳'),
            ('T001082010',           '総数４０～４４歳'),
            ('T001082011',           '総数４５～４９歳'),
            ('T001082012',           '総数５０～５４歳'),
            ('T001082013',           '総数５５～５９歳'),
            ('T001082014',           '総数６０～６４歳'),
            ('T001082015',           '総数６５～６９歳'),
            ('T001082016',           '総数７０～７４歳'),
            ('T001082017',            '総数１５歳未満'),
            ('T001082018',           '総数１５～６４歳'),
            ('T001082019',            '総数６５歳以上'),
            ('T001082020',            '総数７５歳以上'),
            ('T001082021',      '男の総数、年齢「不詳」含む'),
            ('T001082022',              '男０～４歳'),
            ('T001082023',              '男５～９歳'),
            ('T001082024',            '男１０～１４歳'),
            ('T001082025',            '男１５～１９歳'),
            ('T001082026',            '男２０～２４歳'),
            ('T001082027',            '男２５～２９歳'),
            ('T001082028',            '男３０～３４歳'),
            ('T001082029',            '男３５～３９歳'),
            ('T001082030',            '男４０～４４歳'),
            ('T001082031',            '男４５～４９歳'),
            ('T001082032',            '男５０～５４歳'),
            ('T001082033',            '男５５～５９歳'),
            ('T001082034',            '男６０～６４歳'),
            ('T001082035',            '男６５～６９歳'),
            ('T001082036',            '男７０～７４歳'),
            ('T001082037',             '男１５歳未満'),
            ('T001082038',            '男１５～６４歳'),
            ('T001082039',             '男６５歳以上'),
            ('T001082040',             '男７５歳以上'),
            ('T001082041',      '女の総数、年齢「不詳」含む'),
            ('T001082042',              '女０～４歳'),
            ('T001082043',              '女５～９歳'),
            ('T001082044',            '女１０～１４歳'),
            ('T001082045',            '女１５～１９歳'),
            ('T001082046',            '女２０～２４歳'),
            ('T001082047',            '女２５～２９歳'),
            ('T001082048',            '女３０～３４歳'),
            ('T001082049',            '女３５～３９歳'),
            ('T001082050',            '女４０～４４歳'),
            ('T001082051',            '女４５～４９歳'),
            ('T001082052',            '女５０～５４歳'),
            ('T001082053',            '女５５～５９歳'),
            ('T001082054',            '女６０～６４歳'),
            ('T001082055',            '女６５～６９歳'),
            ('T001082056',            '女７０～７４歳'),
            ('T001082057',             '女１５歳未満'),
            ('T001082058',            '女１５～６４歳'),
            ('T001082059',             '女６５歳以上'),
            ('T001082060',             '女７５歳以上')],
           )

## コラム　要注意！数値のはずなのにObject

In [10]:
m1 = [1.1, 2, 3]
df1 = pd.DataFrame(m1)
m2 = ['1.1', 2, 3]
df2 = pd.DataFrame(m2)
m3 = ['1.1', '2.2', '3.3']
df3 = pd.DataFrame(m3)
print(df1.info(), df2.info(), df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      float64
dtypes: float64(1)
memory usage: 152.0 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes
None None None

## コラム　データを前処理しなかったらどうなるの？

In [12]:
toukei_zip_path = Path('/content/drive/MyDrive/od-book/国勢調査/tblT001082C27.zip')
toukei_df = pd.read_csv(toukei_zip_path, encoding='cp932', header=[0, 1])

zero_sample = toukei_df.loc[0, ('T001082001', '総数、年齢「不詳」含む')]
one_sample = toukei_df.loc[1, ('T001082001', '総数、年齢「不詳」含む')]
print(zero_sample, type(zero_sample))
print(one_sample, type(one_sample))
print(zero_sample + one_sample)
print(zero_sample / one_sample)

107904 <class 'str'>
2408 <class 'str'>
1079042408

TypeError: ignored

In [13]:
## 前処理しない場合
one_df = toukei_df[toukei_df['HYOSYO', 'Unnamed: 1_level_1'] == 1]
px.bar(x=one_df['CITYNAME', 'Unnamed: 2_level_1'] , y=one_df['T001082001', '総数、年齢「不詳」含む'])

In [15]:
# astypeメソッドでデータ型をintに変更
one_df = toukei_df[toukei_df['HYOSYO', 'Unnamed: 1_level_1'] == 1]
px.bar(x=one_df['CITYNAME', 'Unnamed: 2_level_1'] , y=one_df['T001082001', '総数、年齢「不詳」含む'].astype(int))

### 前処理実行

In [16]:
# multiindexなカラムが意味をなしていない。カラムを一行に更新して、分割して処理していく

front_col = [col for col in df.columns.get_level_values(0) if not col.startswith('T00')] #①
back_col = [col for col in df.columns.get_level_values(1) if not col.startswith("Unnamed:")] #②
new_col = front_col + back_col #③
print(len(new_col)) # ④

67

In [17]:
df.columns = new_col
df.head()

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数、年齢「不詳」含む,総数０～４歳,総数５～９歳,総数１０～１４歳,総数１５～１９歳,総数２０～２４歳,総数２５～２９歳,総数３０～３４歳,総数３５～３９歳,総数４０～４４歳,総数４５～４９歳,総数５０～５４歳,総数５５～５９歳,総数６０～６４歳,総数６５～６９歳,総数７０～７４歳,総数１５歳未満,総数１５～６４歳,総数６５歳以上,総数７５歳以上,男の総数、年齢「不詳」含む,男０～４歳,男５～９歳,男１０～１４歳,男１５～１９歳,男２０～２４歳,男２５～２９歳,男３０～３４歳,男３５～３９歳,男４０～４４歳,男４５～４９歳,男５０～５４歳,男５５～５９歳,男６０～６４歳,男６５～６９歳,男７０～７４歳,男１５歳未満,男１５～６４歳,男６５歳以上,男７５歳以上,女の総数、年齢「不詳」含む,女０～４歳,女５～９歳,女１０～１４歳,女１５～１９歳,女２０～２４歳,女２５～２９歳,女３０～３４歳,女３５～３９歳,女４０～４４歳,女４５～４９歳,女５０～５４歳,女５５～５９歳,女６０～６４歳,女６５～６９歳,女７０～７４歳,女１５歳未満,女１５～６４歳,女６５歳以上,女７５歳以上
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,107904,3785,4069,4001,3872,5582,6775,6923,7233,7687,8460,7309,6378,5737,6143,6660,11855,65956,25393,12590,51763,1937,2129,2046,1994,2676,3264,3364,3559,3833,4222,3666,3135,2725,3024,3247,6112,32438,10972,4701,56141,1848,1940,1955,1878,2906,3511,3559,3674,3854,4238,3643,3243,3012,3119,3413,5743,33518,14421,7889
1,271020010,3,大阪市都島区,片町,0,NaN,NaN,2408,67,30,25,37,162,322,235,230,206,182,151,121,83,70,77,122,1729,233,86,1248,43,15,15,16,77,164,120,109,110,98,85,72,45,37,36,73,896,108,35,1160,24,15,10,21,85,158,115,121,96,84,66,49,38,33,41,49,833,125,51
2,27102001001,4,大阪市都島区,片町一丁目,0,NaN,NaN,1562,47,27,18,31,91,207,147,155,142,128,114,79,53,46,47,92,1147,143,50,807,31,13,10,13,49,107,76,70,73,69,65,45,26,24,23,54,593,69,22,755,16,14,8,18,42,100,71,85,69,59,49,34,27,22,24,38,554,74,28
3,27102001002,4,大阪市都島区,片町二丁目,0,NaN,NaN,846,20,3,7,6,71,115,88,75,64,54,37,42,30,24,30,30,582,90,36,441,12,2,5,3,28,57,44,39,37,29,20,27,19,13,13,19,303,39,13,405,8,1,2,3,43,58,44,36,27,25,17,15,11,11,17,11,279,51,23
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,1411,39,38,35,25,56,92,102,112,144,114,93,78,65,71,100,112,881,350,179,625,20,16,16,12,24,47,52,54,76,49,51,38,30,29,42,52,433,110,39,786,19,22,19,13,32,45,50,58,68,65,42,40,35,42,58,60,448,240,140

## ”変なデータ"を探して修正

In [18]:
print(type(df.loc[0, '総数、年齢「不詳」含む']))
print('--- --- ---')
print(df['総数、年齢「不詳」含む'].values) #①
print(' --- --- ---')
print(df['総数、年齢「不詳」含む'].value_counts().head()) #②

<class 'str'>
--- --- ---
['107904' '2408' '1562' ... '222' '423' '211']
 --- --- ---
-      329
X      207
33      15
476     14
19      13
Name: 総数、年齢「不詳」含む, dtype: int64

In [19]:
# 人数が入るカラムに含まれる数値以外の文字データを探る
except_list = list()  #① 数値以外の文字列を格納するリスト
for col in df.loc[:, '総数、年齢「不詳」含む':].columns:
    s_v = df[col].values #② 選択された列のすべての値
    for w in s_v: #③ 上のすべての値をループ
        try: #④ 文字列を数値にできるか？
            int(w)
        except ValueError: # ⑤出来なければ、except_listに格納
            except_list.append(w)
cnt_exceptions = Counter(except_list) #⑥ Counterを使って要素を数える
print(f'文字データのカウント結果: {cnt_exceptions}') #⑦ f-stringで数値型に出力できなかった文字列のカウントを出力

文字データのカウント結果: Counter({'-': 32865, 'X': 12420})

## 人数を数値に変換する

In [21]:
for col in df.loc[:, '総数、年齢「不詳」含む':].columns:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

## 前処理後のデータを確認

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10617 entries, 0 to 10616
Data columns (total 67 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   KEY_CODE       10617 non-null  int64
 1   HYOSYO         10617 non-null  int64
 2   CITYNAME       10617 non-null  object
 3   NAME           10541 non-null  object
 4   HTKSYORI       10617 non-null  int64
 5   HTKSAKI        192 non-null    float64
 6   GASSAN         152 non-null    object
 7   総数、年齢「不詳」含む    10617 non-null  int64
 8   総数０～４歳         10617 non-null  int64
 9   総数５～９歳         10617 non-null  int64
 10  総数１０～１４歳       10617 non-null  int64
 11  総数１５～１９歳       10617 non-null  int64
 12  総数２０～２４歳       10617 non-null  int64
 13  総数２５～２９歳       10617 non-null  int64
 14  総数３０～３４歳       10617 non-null  int64
 15  総数３５～３９歳       10617 non-null  int64
 16  総数４０～４４歳       10617 non-null  int64
 17  総数４５～４９歳       10617 non-null  int64
 18  総数５０～５４歳       10617 non-null  int64
 19  総数５５～５９歳       10617 non-null  int64
 20  総数６０～６４歳       10617 non-null  int64
 21  総数６５～６９歳       10617 non-null  int64
 22  総数７０～７４歳       10617 non-null  int64
 23  総数１５歳未満        10617 non-null  int64
 24  総数１５～６４歳       10617 non-null  int64
 25  総数６５歳以上        10617 non-null  int64
 26  総数７５歳以上        10617 non-null  int64
 27  男の総数、年齢「不詳」含む  10617 non-null  int64
 28  男０～４歳          10617 non-null  int64
 29  男５～９歳          10617 non-null  int64
 30  男１０～１４歳        10617 non-null  int64
 31  男１５～１９歳        10617 non-null  int64
 32  男２０～２４歳        10617 non-null  int64
 33  男２５～２９歳        10617 non-null  int64
 34  男３０～３４歳        10617 non-null  int64
 35  男３５～３９歳        10617 non-null  int64
 36  男４０～４４歳        10617 non-null  int64
 37  男４５～４９歳        10617 non-null  int64
 38  男５０～５４歳        10617 non-null  int64
 39  男５５～５９歳        10617 non-null  int64
 40  男６０～６４歳        10617 non-null  int64
 41  男６５～６９歳        10617 non-null  int64
 42  男７０～７４歳        10617 non-null  int64
 43  男１５歳未満         10617 non-null  int64
 44  男１５～６４歳        10617 non-null  int64
 45  男６５歳以上         10617 non-null  int64
 46  男７５歳以上         10617 non-null  int64
 47  女の総数、年齢「不詳」含む  10617 non-null  int64
 48  女０～４歳          10617 non-null  int64
 49  女５～９歳          10617 non-null  int64
 50  女１０～１４歳        10617 non-null  int64
 51  女１５～１９歳        10617 non-null  int64
 52  女２０～２４歳        10617 non-null  int64
 53  女２５～２９歳        10617 non-null  int64
 54  女３０～３４歳        10617 non-null  int64
 55  女３５～３９歳        10617 non-null  int64
 56  女４０～４４歳        10617 non-null  int64
 57  女４５～４９歳        10617 non-null  int64
 58  女５０～５４歳        10617 non-null  int64
 59  女５５～５９歳        10617 non-null  int64
 60  女６０～６４歳        10617 non-null  int64
 61  女６５～６９歳        10617 non-null  int64
 62  女７０～７４歳        10617 non-null  int64
 63  女１５歳未満         10617 non-null  int64
 64  女１５～６４歳        10617 non-null  int64
 65  女６５歳以上         10617 non-null  int64
 66  女７５歳以上         10617 non-null  int64
dtypes: float64(1), int64(63), object(3)
memory usage: 5.4+ MB

In [23]:
one_df = df.query('HYOSYO == 1')
fig = px.bar(one_df, x='CITYNAME', y='総数、年齢「不詳」含む')
fig.show()

## 前処理後の作業

In [24]:
save_dir = '/content/drive/MyDrive/od-book/国勢調査/'
file_name = 'preprocessed_data.csv'
save_path = save_dir + file_name
df.to_csv(save_path)

## 処理をまとめた関数を作成する

In [25]:
def prepro_kokusei(data_path: str) -> pd.DataFrame:
    '''
    国勢調査の統計データを前処理する関数
    Params:
        data_path: str
        zip_fileのあるパス
    Returns:
        df: pd.DataFrame
        前処理済みのデータ

    '''
    df = pd.read_csv(data_path, encoding='cp932', header=[0, 1])
    front_col = [col for col in df.columns.get_level_values(0) if not col.startswith('T00')]
    back_col = [col for col in df.columns.get_level_values(1) if not col.startswith("Unnamed:")]
    new_col = front_col + back_col
    df.columns = new_col
    for col in df.loc[:, '総数、年齢「不詳」含む':].columns:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    return df

## 以降書籍にはありませんが、関数を使ってみる

- 大阪のデータを読み込んでみる
- 東京のデータを読み込んでみる

In [26]:
data_path = Path('/content/drive/MyDrive/od-book/国勢調査/tblT001082C27.zip')
df = prepro_kokusei(data_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10617 entries, 0 to 10616
Data columns (total 67 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   KEY_CODE       10617 non-null  int64
 1   HYOSYO         10617 non-null  int64
 2   CITYNAME       10617 non-null  object
 3   NAME           10541 non-null  object
 4   HTKSYORI       10617 non-null  int64
 5   HTKSAKI        192 non-null    float64
 6   GASSAN         152 non-null    object
 7   総数、年齢「不詳」含む    10617 non-null  int64
 8   総数０～４歳         10617 non-null  int64
 9   総数５～９歳         10617 non-null  int64
 10  総数１０～１４歳       10617 non-null  int64
 11  総数１５～１９歳       10617 non-null  int64
 12  総数２０～２４歳       10617 non-null  int64
 13  総数２５～２９歳       10617 non-null  int64
 14  総数３０～３４歳       10617 non-null  int64
 15  総数３５～３９歳       10617 non-null  int64
 16  総数４０～４４歳       10617 non-null  int64
 17  総数４５～４９歳       10617 non-null  int64
 18  総数５０～５４歳       10617 non-null  int64
 19  総数５５～５９歳       10617 non-null  int64
 20  総数６０～６４歳       10617 non-null  int64
 21  総数６５～６９歳       10617 non-null  int64
 22  総数７０～７４歳       10617 non-null  int64
 23  総数１５歳未満        10617 non-null  int64
 24  総数１５～６４歳       10617 non-null  int64
 25  総数６５歳以上        10617 non-null  int64
 26  総数７５歳以上        10617 non-null  int64
 27  男の総数、年齢「不詳」含む  10617 non-null  int64
 28  男０～４歳          10617 non-null  int64
 29  男５～９歳          10617 non-null  int64
 30  男１０～１４歳        10617 non-null  int64
 31  男１５～１９歳        10617 non-null  int64
 32  男２０～２４歳        10617 non-null  int64
 33  男２５～２９歳        10617 non-null  int64
 34  男３０～３４歳        10617 non-null  int64
 35  男３５～３９歳        10617 non-null  int64
 36  男４０～４４歳        10617 non-null  int64
 37  男４５～４９歳        10617 non-null  int64
 38  男５０～５４歳        10617 non-null  int64
 39  男５５～５９歳        10617 non-null  int64
 40  男６０～６４歳        10617 non-null  int64
 41  男６５～６９歳        10617 non-null  int64
 42  男７０～７４歳        10617 non-null  int64
 43  男１５歳未満         10617 non-null  int64
 44  男１５～６４歳        10617 non-null  int64
 45  男６５歳以上         10617 non-null  int64
 46  男７５歳以上         10617 non-null  int64
 47  女の総数、年齢「不詳」含む  10617 non-null  int64
 48  女０～４歳          10617 non-null  int64
 49  女５～９歳          10617 non-null  int64
 50  女１０～１４歳        10617 non-null  int64
 51  女１５～１９歳        10617 non-null  int64
 52  女２０～２４歳        10617 non-null  int64
 53  女２５～２９歳        10617 non-null  int64
 54  女３０～３４歳        10617 non-null  int64
 55  女３５～３９歳        10617 non-null  int64
 56  女４０～４４歳        10617 non-null  int64
 57  女４５～４９歳        10617 non-null  int64
 58  女５０～５４歳        10617 non-null  int64
 59  女５５～５９歳        10617 non-null  int64
 60  女６０～６４歳        10617 non-null  int64
 61  女６５～６９歳        10617 non-null  int64
 62  女７０～７４歳        10617 non-null  int64
 63  女１５歳未満         10617 non-null  int64
 64  女１５～６４歳        10617 non-null  int64
 65  女６５歳以上         10617 non-null  int64
 66  女７５歳以上         10617 non-null  int64
dtypes: float64(1), int64(63), object(3)
memory usage: 5.4+ MB

In [27]:
tokyo_path = '/content/drive/MyDrive/od-book/国勢調査/tblT001082C13.zip'
tokyo_df = prepro_kokusei(tokyo_path)
tokyo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 67 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   KEY_CODE       6868 non-null   int64
 1   HYOSYO         6868 non-null   int64
 2   CITYNAME       6868 non-null   object
 3   NAME           6799 non-null   object
 4   HTKSYORI       6868 non-null   int64
 5   HTKSAKI        82 non-null     float64
 6   GASSAN         43 non-null     object
 7   総数、年齢「不詳」含む    6868 non-null   int64
 8   総数０～４歳         6868 non-null   int64
 9   総数５～９歳         6868 non-null   int64
 10  総数１０～１４歳       6868 non-null   int64
 11  総数１５～１９歳       6868 non-null   int64
 12  総数２０～２４歳       6868 non-null   int64
 13  総数２５～２９歳       6868 non-null   int64
 14  総数３０～３４歳       6868 non-null   int64
 15  総数３５～３９歳       6868 non-null   int64
 16  総数４０～４４歳       6868 non-null   int64
 17  総数４５～４９歳       6868 non-null   int64
 18  総数５０～５４歳       6868 non-null   int64
 19  総数５５～５９歳       6868 non-null   int64
 20  総数６０～６４歳       6868 non-null   int64
 21  総数６５～６９歳       6868 non-null   int64
 22  総数７０～７４歳       6868 non-null   int64
 23  総数１５歳未満        6868 non-null   int64
 24  総数１５～６４歳       6868 non-null   int64
 25  総数６５歳以上        6868 non-null   int64
 26  総数７５歳以上        6868 non-null   int64
 27  男の総数、年齢「不詳」含む  6868 non-null   int64
 28  男０～４歳          6868 non-null   int64
 29  男５～９歳          6868 non-null   int64
 30  男１０～１４歳        6868 non-null   int64
 31  男１５～１９歳        6868 non-null   int64
 32  男２０～２４歳        6868 non-null   int64
 33  男２５～２９歳        6868 non-null   int64
 34  男３０～３４歳        6868 non-null   int64
 35  男３５～３９歳        6868 non-null   int64
 36  男４０～４４歳        6868 non-null   int64
 37  男４５～４９歳        6868 non-null   int64
 38  男５０～５４歳        6868 non-null   int64
 39  男５５～５９歳        6868 non-null   int64
 40  男６０～６４歳        6868 non-null   int64
 41  男６５～６９歳        6868 non-null   int64
 42  男７０～７４歳        6868 non-null   int64
 43  男１５歳未満         6868 non-null   int64
 44  男１５～６４歳        6868 non-null   int64
 45  男６５歳以上         6868 non-null   int64
 46  男７５歳以上         6868 non-null   int64
 47  女の総数、年齢「不詳」含む  6868 non-null   int64
 48  女０～４歳          6868 non-null   int64
 49  女５～９歳          6868 non-null   int64
 50  女１０～１４歳        6868 non-null   int64
 51  女１５～１９歳        6868 non-null   int64
 52  女２０～２４歳        6868 non-null   int64
 53  女２５～２９歳        6868 non-null   int64
 54  女３０～３４歳        6868 non-null   int64
 55  女３５～３９歳        6868 non-null   int64
 56  女４０～４４歳        6868 non-null   int64
 57  女４５～４９歳        6868 non-null   int64
 58  女５０～５４歳        6868 non-null   int64
 59  女５５～５９歳        6868 non-null   int64
 60  女６０～６４歳        6868 non-null   int64
 61  女６５～６９歳        6868 non-null   int64
 62  女７０～７４歳        6868 non-null   int64
 63  女１５歳未満         6868 non-null   int64
 64  女１５～６４歳        6868 non-null   int64
 65  女６５歳以上         6868 non-null   int64
 66  女７５歳以上         6868 non-null   int64
dtypes: float64(1), int64(63), object(3)
memory usage: 3.5+ MB

In [ ]:
sangyo_zyuzi = '/content/drive/MyDrive/od-book/国勢調査/tblT001103C27.zip'
df = pd.read_csv(sangyo_zyuzi, encoding='cp932')
df

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,T001103001,T001103002,T001103003,T001103004,T001103005,T001103006,T001103007,T001103008,T001103009,T001103010,T001103011,T001103012,T001103013,T001103014,T001103015,T001103016,T001103017,T001103018,T001103019,T001103020,T001103021,T001103022,T001103023,T001103024,T001103025,T001103026
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,総数,Ａ農業、林業,うち農業,Ｂ漁業,Ｃ鉱業、採石業、砂利採取業,Ｄ建設業,Ｅ製造業,Ｆ電気・ガス・熱供給・水道業,Ｇ情報通信業,Ｈ運輸業、郵便業,Ｉ卸売業、小売業,Ｊ金融業、保険業,Ｋ不動産業、物品賃貸業,Ｌ学術研究、専門・技術サービス業,Ｍ宿泊業、飲食サービス業,Ｎ生活関連サービス業、娯楽業,Ｏ教育、学習支援業,Ｐ医療、福祉,Ｑ複合サービス事業,Ｒサービス業（他に分類されないもの）,Ｓ公務（他に分類されるものを除く）,Ｔ分類不能の産業,総数（従業上の地位「不詳」を含む）,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
1,2.710200e+04,1.0,大阪市都島区,NaN,0.0,NaN,NaN,42517,32,26,-,4,2440,4940,190,2497,1837,7021,1080,1519,2359,3012,1483,1957,5606,221,3371,1168,1780,42517,37305,3426,712
2,2.710200e+08,3.0,大阪市都島区,片町,0.0,NaN,NaN,1031,1,1,-,-,50,125,-,119,28,177,22,36,79,60,38,42,120,1,70,16,47,1031,915,80,16
3,2.710200e+10,4.0,大阪市都島区,片町一丁目,0.0,NaN,NaN,664,1,1,-,-,33,73,-,65,17,116,16,23,58,46,17,33,72,-,47,12,35,664,585,55,10
4,2.710200e+10,4.0,大阪市都島区,片町二丁目,0.0,NaN,NaN,367,-,-,-,-,17,52,-,54,11,61,6,13,21,14,21,9,48,1,23,4,12,367,330,25,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10613,2.738301e+10,4.0,千早赤阪村,大字小吹,0.0,NaN,NaN,133,17,17,-,-,11,21,-,1,8,12,1,1,3,8,6,8,12,-,13,11,-,133,103,19,10
10614,2.738301e+10,4.0,千早赤阪村,大字小吹,0.0,NaN,NaN,628,9,7,-,-,35,98,7,10,42,75,12,8,14,24,16,50,142,5,42,24,15,628,539,72,12
10615,2.738301e+08,2.0,千早赤阪村,大字中津原,0.0,NaN,NaN,95,9,8,-,-,5,21,1,2,1,11,1,2,5,5,3,3,10,1,7,7,1,95,71,19,4
10616,2.738301e+08,2.0,千早赤阪村,大字東阪,0.0,NaN,NaN,163,18,17,-,-,12,25,1,-,16,28,4,1,1,3,7,2,20,2,11,9,3,163,128,20,10
10617,2.738301e+08,2.0,千早赤阪村,大字千早,0.0,NaN,NaN,90,1,1,-,-,4,13,-,-,7,12,-,8,3,6,6,5,19,1,3,1,1,90,72,13,3

## 書籍にはありませんが、カラム名を指定して国勢調査の異なるデータも前処理できる関数を作る

- そして異なるデータで動作を試す

In [28]:
def prepro_kokusei(data_path: str, col_name) -> pd.DataFrame:
    '''
    国勢調査の統計データを前処理する関数
    Params:
        data_path: str
        zip_fileのあるパス
    Returns:
        df: pd.DataFrame
        前処理済みのデータ

    '''
    df = pd.read_csv(data_path, encoding='cp932', header=[0, 1])
    front_col = [col for col in df.columns.get_level_values(0) if not col.startswith('T00')]
    back_col = [col for col in df.columns.get_level_values(1) if not col.startswith("Unnamed:")]
    new_col = front_col + back_col
    df.columns = new_col
    for col in df.loc[:, col_name:].columns:
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)
    return df

In [29]:
data_path = '/content/drive/MyDrive/od-book/国勢調査/tblT001082C27.zip'
col_name = '総数、年齢「不詳」含む'
osaka1 = prepro_kokusei(data_path, col_name)
osaka1

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数、年齢「不詳」含む,総数０～４歳,総数５～９歳,総数１０～１４歳,総数１５～１９歳,総数２０～２４歳,総数２５～２９歳,総数３０～３４歳,総数３５～３９歳,総数４０～４４歳,総数４５～４９歳,総数５０～５４歳,総数５５～５９歳,総数６０～６４歳,総数６５～６９歳,総数７０～７４歳,総数１５歳未満,総数１５～６４歳,総数６５歳以上,総数７５歳以上,男の総数、年齢「不詳」含む,男０～４歳,男５～９歳,男１０～１４歳,男１５～１９歳,男２０～２４歳,男２５～２９歳,男３０～３４歳,男３５～３９歳,男４０～４４歳,男４５～４９歳,男５０～５４歳,男５５～５９歳,男６０～６４歳,男６５～６９歳,男７０～７４歳,男１５歳未満,男１５～６４歳,男６５歳以上,男７５歳以上,女の総数、年齢「不詳」含む,女０～４歳,女５～９歳,女１０～１４歳,女１５～１９歳,女２０～２４歳,女２５～２９歳,女３０～３４歳,女３５～３９歳,女４０～４４歳,女４５～４９歳,女５０～５４歳,女５５～５９歳,女６０～６４歳,女６５～６９歳,女７０～７４歳,女１５歳未満,女１５～６４歳,女６５歳以上,女７５歳以上
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,107904,3785,4069,4001,3872,5582,6775,6923,7233,7687,8460,7309,6378,5737,6143,6660,11855,65956,25393,12590,51763,1937,2129,2046,1994,2676,3264,3364,3559,3833,4222,3666,3135,2725,3024,3247,6112,32438,10972,4701,56141,1848,1940,1955,1878,2906,3511,3559,3674,3854,4238,3643,3243,3012,3119,3413,5743,33518,14421,7889
1,271020010,3,大阪市都島区,片町,0,NaN,NaN,2408,67,30,25,37,162,322,235,230,206,182,151,121,83,70,77,122,1729,233,86,1248,43,15,15,16,77,164,120,109,110,98,85,72,45,37,36,73,896,108,35,1160,24,15,10,21,85,158,115,121,96,84,66,49,38,33,41,49,833,125,51
2,27102001001,4,大阪市都島区,片町一丁目,0,NaN,NaN,1562,47,27,18,31,91,207,147,155,142,128,114,79,53,46,47,92,1147,143,50,807,31,13,10,13,49,107,76,70,73,69,65,45,26,24,23,54,593,69,22,755,16,14,8,18,42,100,71,85,69,59,49,34,27,22,24,38,554,74,28
3,27102001002,4,大阪市都島区,片町二丁目,0,NaN,NaN,846,20,3,7,6,71,115,88,75,64,54,37,42,30,24,30,30,582,90,36,441,12,2,5,3,28,57,44,39,37,29,20,27,19,13,13,19,303,39,13,405,8,1,2,3,43,58,44,36,27,25,17,15,11,11,17,11,279,51,23
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,1411,39,38,35,25,56,92,102,112,144,114,93,78,65,71,100,112,881,350,179,625,20,16,16,12,24,47,52,54,76,49,51,38,30,29,42,52,433,110,39,786,19,22,19,13,32,45,50,58,68,65,42,40,35,42,58,60,448,240,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10612,27383007001,4,千早赤阪村,大字小吹,0,NaN,NaN,244,8,8,17,9,10,5,13,17,14,15,18,18,18,19,17,33,137,74,38,114,4,2,6,4,5,4,6,9,5,9,12,10,7,10,9,12,71,31,12,130,4,6,11,5,5,1,7,8,9,6,6,8,11,9,8,21,66,43,26
10613,27383007002,4,千早赤阪村,大字小吹,0,NaN,NaN,1790,36,46,58,54,55,34,34,54,85,150,84,61,88,174,349,140,699,950,427,843,14,25,31,24,33,17,15,24,45,77,39,27,39,66,152,70,340,433,215,947,22,21,27,30,22,17,19,30,40,73,45,34,49,108,197,70,359,517,212
10614,273830090,2,千早赤阪村,大字中津原,0,NaN,NaN,222,0,1,2,6,7,4,6,7,5,15,12,19,21,37,28,3,102,117,52,106,0,1,0,4,4,2,5,2,4,7,6,8,10,17,17,1,52,53,19,116,0,0,2,2,3,2,1,5,1,8,6,11,11,20,11,2,50,64,33
10615,273830100,2,千早赤阪村,大字東阪,0,NaN,NaN,423,4,13,14,10,13,13,10,3,14,21,32,19,29,30,34,31,164,227,163,181,2,7,9,6,3,7,1,2,4,10,12,10,16,13,17,18,71,92,62,242,2,6,5,4,10,6,9,1,10,11,20,9,13,17,17,13,93,135,101
10616,273830110,2,千早赤阪村,大字千早,0,NaN,NaN,211,4,4,4,1,8,4,10,7,4,14,13,13,18,14,28,12,92,107,65,98,2,2,2,0,1,3,4,3,2,9,8,4,9,9,15,6,43,49,25,113,2,2,2,1,7,1,6,4,2,5,5,9,9,5,13,6,49,58,40

In [30]:
data_path = '/content/drive/MyDrive/od-book/国勢調査/tblT001103C27.zip'
col_name = '総数'
osaka2 = prepro_kokusei(data_path, col_name)
osaka2

,KEY_CODE,HYOSYO,CITYNAME,NAME,HTKSYORI,HTKSAKI,GASSAN,総数,Ａ農業、林業,うち農業,Ｂ漁業,Ｃ鉱業、採石業、砂利採取業,Ｄ建設業,Ｅ製造業,Ｆ電気・ガス・熱供給・水道業,Ｇ情報通信業,Ｈ運輸業、郵便業,Ｉ卸売業、小売業,Ｊ金融業、保険業,Ｋ不動産業、物品賃貸業,Ｌ学術研究、専門・技術サービス業,Ｍ宿泊業、飲食サービス業,Ｎ生活関連サービス業、娯楽業,Ｏ教育、学習支援業,Ｐ医療、福祉,Ｑ複合サービス事業,Ｒサービス業（他に分類されないもの）,Ｓ公務（他に分類されるものを除く）,Ｔ分類不能の産業,総数（従業上の地位「不詳」を含む）,雇用者（役員を含む）,自営業主（家庭内職者を含む）,家族従業者
0,27102,1,大阪市都島区,NaN,0,NaN,NaN,42517,32,26,0,4,2440,4940,190,2497,1837,7021,1080,1519,2359,3012,1483,1957,5606,221,3371,1168,1780,42517,37305,3426,712
1,271020010,3,大阪市都島区,片町,0,NaN,NaN,1031,1,1,0,0,50,125,0,119,28,177,22,36,79,60,38,42,120,1,70,16,47,1031,915,80,16
2,27102001001,4,大阪市都島区,片町一丁目,0,NaN,NaN,664,1,1,0,0,33,73,0,65,17,116,16,23,58,46,17,33,72,0,47,12,35,664,585,55,10
3,27102001002,4,大阪市都島区,片町二丁目,0,NaN,NaN,367,0,0,0,0,17,52,0,54,11,61,6,13,21,14,21,9,48,1,23,4,12,367,330,25,6
4,271020020,2,大阪市都島区,網島町,0,NaN,NaN,572,0,0,0,0,22,58,2,33,17,75,11,30,51,61,22,39,58,0,50,13,30,572,491,57,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10612,27383007001,4,千早赤阪村,大字小吹,0,NaN,NaN,133,17,17,0,0,11,21,0,1,8,12,1,1,3,8,6,8,12,0,13,11,0,133,103,19,10
10613,27383007002,4,千早赤阪村,大字小吹,0,NaN,NaN,628,9,7,0,0,35,98,7,10,42,75,12,8,14,24,16,50,142,5,42,24,15,628,539,72,12
10614,273830090,2,千早赤阪村,大字中津原,0,NaN,NaN,95,9,8,0,0,5,21,1,2,1,11,1,2,5,5,3,3,10,1,7,7,1,95,71,19,4
10615,273830100,2,千早赤阪村,大字東阪,0,NaN,NaN,163,18,17,0,0,12,25,1,0,16,28,4,1,1,3,7,2,20,2,11,9,3,163,128,20,10
10616,273830110,2,千早赤阪村,大字千早,0,NaN,NaN,90,1,1,0,0,4,13,0,0,7,12,0,8,3,6,6,5,19,1,3,1,1,90,72,13,3